<?xml version="1.0"?><!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="FileTabCharacter"/>
    <module name="TreeWalker">
        <!-- Checks for naming conventions -->
        <module name="AbbreviationAsWordInName"/>
        <module name="ConstantName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="TypeName"/>

        <!-- Checks for annotations -->
        <module name="AnnotationLocation"/>
        <module name="MissingOverride"/>

        <!-- Block checks-->
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>

        <!-- Checks for code format -->  
        <module name="ArrayTypeStyle"/>
        <module name="EmptyStatement"/>
        <module name="TodoComment"/>
                
        <!-- Checks for imports -->
        <module name="AvoidStarImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- Checks for coding -->
        <module name="NestedForDepth">
            <property name="max" value="2"/>
        </module>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>

        <!-- Checks for size -->
        <module name="ParameterNumber">
            <property name="max" value="6"/>
        </module>

        <!-- Checks for code logic problems -->
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="4"/>
        </module>
        <module name="CovariantEquals"/>
        <module name="DefaultComesLast"/>
        <module name="IllegalCatch"/>
        <module name="MissingSwitchDefault"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
    </module>

    <module name="LineLength">
            <property name="max" value="120"/>
    </module>
</module>